{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<br>
<br>
<h3 align="center" style="font-family: 'Alfa Slab One', cursive;">{{ user.username }}'s Inbox</h3>
<div class="rounded bg-dark">
  <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#send">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg>
  </button>

  <button type="button" class="btn btn-dark" style="float:right;" data-toggle="collapse" data-target="">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
      <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
    </svg>
  </button>

  <button type="button" class="btn btn-dark" style="float:right;" data-toggle="collapse" data-target="">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
      <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
    </svg>
  </button>

  <button type="button" class="btn btn-dark" style="float:right;" data-toggle="collapse" data-target="">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="32" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
      <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
    </svg>
  </button>

  <div id="send" class="collapse in">
    <div class="container">
      <br>
      <form method="POST">
        <div class="mb-3 form-group">
          <label for="tousername" class="form-label text-light">To:</label>
          <input type="text" class="form-control" id="tousername" name="tousername" placeholder="Username">
        </div>
        <div class="mb-3 form-group">
          <label for="message" class="form-label text-light">Message</label>
          <textarea class="form-control" id="message" name="message" rows="10"></textarea>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
      <br>
    </div>
  </div>

  <div id="sent" class="collapse in">
    <div class="container">
      {% for message in messages %}
      {% if user.username == message.sender %}
      <h3>{{ message.message }}</h3>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="accordion" id="accordionExample">
    {% for message in messages %}
    {% if user.username == message.receiver %}
    <div class="card">
      <div class="card-header bg-dark" id="heading">
        <button type="button" class="close text-light" onClick="delete_message({{ message.id }})">
           <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="mb-0">
          <button class="btn collapsed text-light" type="button" data-toggle="collapse" data-target="#{{ message.id }}" aria-expanded="false" aria-controls="{{ message.id }}">
            {{ message.sender }} ({{ message.time_sent }})
          </button>
        </h5>
      </div>
      <div id="{{ message.id }}" class="collapse" aria-labelledby="heading" data-parent="#accordionExample">
        <div class="card-body">
          {{ message.message }}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% else %}
<div class="container bg-dark" style="height: 300px; max-width: 600px; border-radius: 20px;">
  <h1 align="center" class="text-xl-start text-light display-1" style="font-family: 'Alfa Slab One', cursive; margin-top: 75px;">Mackee Mail</h1>
  <div align="center">
    <a class="btn-lg btn-light" href="/login" role="button">Login</a>
    <a class="btn-lg btn-light" href="/signup" role="button">Signup</a>
  </div>
</div>
<br>
<h4 class="text-center">Send personal messages to other users or contribute to global message board!</h4>
<br>
<h4 class="text-center">Created by</h4>
<h4 class="text-center">~Mackee~</h4>
{% endif %}
{% endblock %}